/*------------------------------------------------------------------
 [ Button ]*/
 .container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
 }
 
 .login100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background: #6675df;
 
	font-family: Montserrat-Bold;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
 
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
 }
 
 .login100-form-btn:hover {
	background: #333333;
 }